<div>
    <h1 class="title my-0">Welcome to <span class="swash">{{ name }}</span></h1>

    <div>
        <span class="block bold">Town Options:</span>
        <ul>
            <li><a href="index.php?do=inn">Rest at the Inn</a></li>
            <li><a href="index.php?do=itemShop">Buy Weapons/Armor</a></li>
            <li><a href="index.php?do=maps">Buy Maps</a></li>
        </ul>
    </div>

    <div class="my-8 box">
        {{ news }}
    </div>

    <div class="flex">
        <div class="w-full">{{ whosonline }}</div>
        <div class="w-full box">{{ babblebox }}</div>
    </div>
</div>