@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn/Vollkorn-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn/Vollkorn-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn/Vollkorn-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn/Vollkorn-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn/Vollkorn-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn/Vollkorn-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}