<h1 class="title my-0"><span class="swash">{{ name }}</span> Item Shop</span></h1>

<p>
    Buying weapons will increase your offensive power. Buying armor and shields will increase your defense. Obviously. Items with a red asterisk
    (<span class="highlight">*</span>) have special properties.
</p>

<p>
    If you already have a piece of gear equipped in a given slot, I'll buy it from ya for half it's value.
</p>

<p>
    Click an item name to purchase it.
</p>

<div>
    The following items are available at this town:

    <table width="80%">
        {{ itemList }}
    </table>
</div>

<p>
    If you've changed your mind, you may also return back to <a href="index.php">town</a>.
</p>