<div class="compass box mb-4">
    <span class="block title swash text-center">Location</span>

    <div class="my-4">
        <ul>
            <li>Currently {{ currentaction }}</li>
            <li>Latitude: {{ latitude }}</li>
            <li>Longitude: {{longitude}}</li>
        </ul>

        <a href="javascript:openmappopup()">View Map</a>
    </div>
    

    <form action="index.php?do=move" method="post" class="text-center">
        <button type="submit" name="north" class="button">North</button>
        <div class="flex justify-between my-2">
            <button type="submit" name="west" class="button">West</button>
            <button type="submit" name="east" class="button">East</button>
        </div>
        <button type="submit" name="south" class="button">South</button>
    </form>
</div>

<div class="fast-travel box mb-4">
    <span class="block title swash text-center mb-4">Towns</span>

    <span class="block">{{ currenttown }}</span>

    <div>
        <span class="block">Travel To:</span>
        {{ townslist }}
    </div>
</div>

<div class="functions box mb-4">
    <span class="block title swash text-center mb-4">Functions</span>

    <ul>
        <li>{{ forumslink }}</li>
        <li>{{ adminlink }}</li>
        <li><a href="users.php?do=changepassword">Change Password</a></li>
        <li><a href="users.php?do=logout">Log Out</a></li>
        <li><a href="help.php">Help</a></li>
    </ul>
</div>