<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="resources/css/game.css">

    <script>
        function opencharpopup() {
            let popurl = "index.php?do=showchar";
            window.open(popurl, "", "width=210, height=500, scrollbars");
        }

        function openmappopup() {
            let popurl = "index.php?do=showmap";
            window.open(popurl, "", "width=520, height=520, scrollbars")
        }
    </script>
</head>
<body>
    <table width="90%" class="mx-auto">
        <tr>
            <td class="top" colspan="3" style="padding-bottom: 2rem;">
                <table width="100%">
                    <tr>
                        <td><img src="resources/img/logo.gif" alt="{{ dkgamename }}" title="{{ dkgamename }}"></td>
                        <td style="text-align: right; vertical-align: middle;">{{ topnav }}</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td class="left">{{leftnav}}</td>
            <td class="middle px-4">{{content}}</td>
            <td class="right">{{rightnav}}</td>
        </tr>
    </table>

    <footer class="copyright flex items-center" style="width: 90%;">
        <div class="w-1/4 text-center">Powered by <a href="https://dragonknight.dev" target="_new">Dragon Knight</a></div>
        <div class="w-1/4 text-center">&copy; <a href="https://surf.gg">Surf</a> 2020</div>
        <div class="w-1/4 text-center">{{totaltime}} Seconds, {{numqueries}} Queries</div>
        <div class="w-1/4 text-center">Version {{version}} {{build}}</div>
    </footer>
</body>
</html>