<div class="character box mb-4">
    <span class="block title swash text-center mb-4">Character</span>

    <span class="block bold">{{ username }}</span>
    <span class="block">Level {{ level }}</span>
    
    <table>
        <tbody>
            <tr><td>EXP:</td> <td>{{ experience }}</td></tr>
            <tr><td>Gold:</td> <td>{{ gold }}</td></tr>
            <tr><td>HP:</td> <td>{{ hp }}</td></tr>
            <tr><td>MP:</td> <td>{{ mp }}</td></tr>
            <tr><td>TP:</td> <td>{{ tp }}</td></tr>
        </tbody>
    </table>

    <div class="my-2">
        {{ statbars }}
    </div>

    <a href="javascript:opencharpopup()">Extended Stats</a>
</div>

<div class="inventory box mb-4">
    <span class="block title swash text-center mb-4">Inventory</span>

    <ul class="mb-4">
        <li class="flex items-center"><img src="resources/img/icons/W_Sword001.png" title="Weapon" class="mr-2" style="width: 16px;"> {{ weapon_name }}</li>
        <li class="flex items-center"><img src="resources/img/icons/A_Armor04.png" title="Armor" class="mr-2" style="width: 16px;"> {{ armor_name }}</li>
        <li class="flex items-center"><img src="resources/img/icons/E_Wood03.png" title="Shield" class="mr-2" style="width: 16px;"> {{ shield_name }}</li>
    </ul>

    <ul>
        <li class="flex items-center"><img src="resources/img/icons/Ac_Ring04.png" title="Ring" class="mr-2" style="width: 16px;"> {{ ring_name }}</li>
        <li class="flex items-center"><img src="resources/img/icons/Ac_Necklace02.png" title="Amulet" class="mr-2" style="width: 16px;"> {{ amulet_name }}</li>
        <li class="flex items-center"><img src="resources/img/icons/I_Rock01.png" title="Rune" class="mr-2" style="width: 16px;"> {{ rune_name }}</li>
    </ul>
</div>

<div class="fast-spells box mb-4">
    <span class="block title swash text-center mb-4">Fast Spells</span>

    {{ magiclist }}
</div>