<table width="100%">
<tr><td><h1 class="title my-0 swash">Character</h1></td></tr>
<tr><td>
<b>{{username}}</b><br /><br />

Difficulty: {{difficulty}}<br />
Class: {{class}}<br /><br />

Level: {{level}}<br />
Experience: {{experience}} {{plus_exp}}<br />
Next Level: {{next_level}}<br />
Gold: {{gold}} {{plus_gold}}<br />
Hit Points: {{hp}} / {{max_hp}}<br />
Magic Points: {{mp}} / {{max_mp}}<br />
Travel Points: {{tp}} / {{max_tp}}<br /><br />

Strength: {{strength}}<br />
Dexterity: {{dexterity}}<br />
Attack: {{attack}}<br />
Defense: {{defense}}<br />
</td></tr>
</table><br />

<table width="100%">
<tr><td class="title"><img src="resources/img/button_inventory.gif" alt="Inventory" title="Inventory" /></td></tr>
<tr><td>
<table width="100%">
<tr><td><img src="resources/img/icon_weapon.gif" alt="Weapon" title="Weapon" /></td><td width="100%">Weapon: {{weaponname}}</td></tr>
<tr><td><img src="resources/img/icon_armor.gif" alt="Armor" title="Armor" /></td><td width="100%">Armor: {{armorname}}</td></tr>
<tr><td><img src="resources/img/icon_shield.gif" alt="Shield" title="Shield" /></td><td width="100%">Shield: {{shieldname}}</td></tr>
</table>
Slot 1: {{slot1name}}<br />
Slot 2: {{slot2name}}<br />
Slot 3: {{slot3name}}
</td></tr>
</table><br />

<table width="100%">
<tr><td class="title"><img src="resources/img/button_spells.gif" alt="Spells" title="Spells" /></td></tr>
<tr><td>
{{magic_list}}
</td></tr>
</table><br />