<!doctype html>
<html lang="en">
<head>
    <title>{{title}} - DK Installer</title>

    <link rel="stylesheet" href="../resources/css/game.css">
</head>
<body id="game">
    <table width="90%" class="mx-auto">
        <tr>
            <td class="top" colspan="3" style="padding-bottom: 1rem;">
                <table width="100%">
                    <tr>
                        <td><img src="../resources/img/logo.gif"></td>
                        <td style="text-align: right; vertical-align: middle;">
                            <span class="title" style="font-size: 2rem;">
                                <span class="light mr-4">Installer</span> <span class="title swash">{{ title }}</span>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td class="middle">{{ content }}</td>
        </tr>
    </table>

    <footer class="copyright flex items-center" style="width: 90%;">
        <div class="w-1/4 text-center">Powered by <a href="https://dragonknight.dev" target="_new">Dragon Knight</a></div>
        <div class="w-1/4 text-center">&copy; <a href="https://surf.gg">Surf</a> 2020</div>
        <div class="w-1/4 text-center">{{ time }} Seconds, {{ queries }} Queries</div>
        <div class="w-1/4 text-center">Version {{ version }} {{ build }}</div>
    </footer>
</body>
</html>