<p class="mb-8">
    If <b>Show News</b> is enabled, you can write a news post here that will be displayed in every town. Please note
    that only one news post can be viewed at any given time; writing a new one will overwrite the last one.
</p>

<form action="admin.php?do=news" method="post">
    <textarea name="content" class="text-input mb-4 block w-full" style="min-height: 200px; max-width: 80%;"></textarea>

    <button class="button" type="submit" name="submit">Submit</button>
    <button class="button" type="reset">Reset</button>
</form>