<form action="admin.php?do=edituser&user={{ id }}" method="post" style="width: 50%;">
    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;">
            <label>ID</label>
        </div>
        <div class="w-full">
            {{ id }}
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;">
            <label for="username">Username</label>
        </div>
        <div class="w-full">
            <input id="username" type="text" name="username" value="{{ username }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;">
            <label for="email">Email</label>
        </div>
        <div class="w-full">
            <input id="email" type="email" name="email" value="{{ email }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;">
            <label for="verify">Verified?</label>
        </div>
        <div class="w-full flex items-center">
            <div class="flex items-center mr-8">
                <input type="radio" id="true" name="verify" value="1" class="mr-2" {{ verified }}>
                <label for="true">Yes</label>
            </div>

            <div class="flex items-center">
                <input type="radio" id="false" name="verify" value="0" class="mr-2" {{ notverified }}>
                <label for="false">No</label><br>
            </div>
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;">
            <label>Registered</label>
        </div>
        <div class="w-full">
            {{ regdate }}
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;">
            <label>Last Online</label>
        </div>
        <div class="w-full">
            {{ onlinetime }}
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="authlevel">Auth Level</label></div>
        <div class="w-full">
            <select id="authlevel" name="authlevel">
                {{ authlevellist }}
            </select>
        </div>
    </div>

    <h3 class="mb-2 mt-8 title">General</h3>
    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label>Current Action</label></div>
        <div class="w-full">
            {{ currentaction }}
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label>Lat, Lon</label></div>
        <div class="w-full flex items-center">
            <input type="number" name="latitude" value="{{ latitude }}" class="text-input w-full mr-2">
            <input type="number" name="longitude" value="{{ longitude }}" class="text-input w-full ml-2">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="class">Class</label></div>
        <div class="w-full">
            <select id="class" name="class">
                <option value="1" {{ class1select }}>{{ class1name }}</option>
                <option value="2" {{ class2select }}>{{ class2name }}</option>
                <option value="3" {{ class3select }}>{{ class3name }}</option>
            </select>
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="difficulty">Difficulty</label></div>
        <div class="w-full">
            <select id="difficulty" name="difficulty">
                <option value="1" {{ diff1select }}>{{ diff1name }}</option>
                <option value="2" {{ diff2select }}>{{ diff2name }}</option>
                <option value="3" {{ diff3select }}>{{ diff3name }}</option>
            </select>
        </div>
    </div>

    <h3 class="mb-2 mt-8 title">Meters</h3>
    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label>HP, Max HP</label></div>
        <div class="w-full flex items-center">
            <input type="number" name="currenthp" value="{{ currenthp }}" class="text-input w-full mr-2">
            <input type="number" name="maxhp" value="{{ maxhp }}" class="text-input w-full ml-2">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label>MP, Max MP</label></div>
        <div class="w-full flex items-center">
            <input type="number" name="currentmp" value="{{ currentmp }}" class="text-input w-full mr-2">
            <input type="number" name="maxmp" value="{{ maxmp }}" class="text-input w-full ml-2">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label>TP, Max TP</label></div>
        <div class="w-full flex items-center">
            <input type="number" name="currenttp" value="{{ currenttp }}" class="text-input w-full mr-2">
            <input type="number" name="maxtp" value="{{ maxtp }}" class="text-input w-full ml-2">
        </div>
    </div>

    <h3 class="mb-2 mt-8 title">Stats</h3>
    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="level">Level</label></div>
        <div class="w-full">
            <input id="level" type="number" name="level" value="{{ level }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="experience">Experience</label></div>
        <div class="w-full">
            <input id="experience" type="number" name="experience" value="{{ experience }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="gold">Gold</label></div>
        <div class="w-full">
            <input id="gold" type="number" name="gold" value="{{ gold }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="expbonus">EXP Bonus</label></div>
        <div class="w-full">
            <input id="expbonus" type="number" name="expbonus" value="{{ expbonus }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="goldbonus">Gold Bonus</label></div>
        <div class="w-full">
            <input id="goldbonus" type="number" name="goldbonus" value="{{ goldbonus }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="strength">Srength</label></div>
        <div class="w-full">
            <input id="strength" type="number" name="strength" value="{{ strength }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="dexterity">Dexterity</label></div>
        <div class="w-full">
            <input id="dexterity" type="number" name="dexterity" value="{{ dexterity }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="attackpower">Attack Power</label></div>
        <div class="w-full">
            <input id="attackpower" type="number" name="attackpower" value="{{ attackpower }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="defensepower">Defense Power</label></div>
        <div class="w-full">
            <input id="defensepower" type="number" name="defensepower" value="{{ defensepower }}" class="text-input w-full">
        </div>
    </div>

    <h3 class="mb-2 mt-8 title">Equipment</h3>
    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="weaponid">Weapon ID</label></div>
        <div class="w-full">
            <input id="weaponid" type="number" name="weaponid" value="{{ weaponid }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="armorid">Armor ID</label></div>
        <div class="w-full">
            <input id="armorid" type="number" name="armorid" value="{{ armorid }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="shieldid">Shield ID</label></div>
        <div class="w-full">
            <input id="shieldid" type="number" name="shieldid" value="{{ shieldid }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="slot1id">Slot 1 ID</label></div>
        <div class="w-full">
            <input id="slot1id" type="number" name="slot1id" value="{{ slot1id }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="slot2id">Slot 2 ID</label></div>
        <div class="w-full">
            <input id="slot2id" type="number" name="slot2id" value="{{ slot2id }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="slot3id">Slot 3 ID</label></div>
        <div class="w-full">
            <input id="slot3id" type="number" name="slot3id" value="{{ slot3id }}" class="text-input w-full">
        </div>
    </div>

    <h3 class="mb-2 mt-8 title">Unlocked</h3>
    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="spells">Spells</label></div>
        <div class="w-full">
            <input id="spells" type="text" name="spells" value="{{ spells }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;"><label for="towns">Towns</label></div>
        <div class="w-full">
            <input id="towns" type="text" name="towns" value="{{ towns }}" class="text-input w-full">
        </div>
    </div>

    <div style="margin-bottom: 4rem;">
        <h3 class="mb-2 mt-8 title">Reset</h3>
        <p>If a player has gotten stuck for some reason or another, use this button to reset their data and put them in Midworld.</p>
        <button type="submit" name="resetData" class="button">Reset Data</button>
    </div>
    

    <button class="button" type="submit" name="submit">Save</button>
    <button class="button" type="reset">Reset</button>
</form>