<p class="mb-8">
    Welcome to the Dragon Knight Administration section. Use the links on the left bar to control and edit various elements of the game.
</p>

<p class="mb-8">
    Please note that the control panel has been created mostly as a shortcut for certain individual settings. It is meant for use primarily 
    with editing one thing at a time. If you need to completely replace an entire table (say, to replace all stock monsters with your own 
    new ones), it is suggested that you use a more in-depth database tool such as <a href="https://www.phpmyadmin.net">phpMyAdmin</a>. 
    Also, you may want to have a copy of the Dragon Knight development kit, available from the <a href="https://dragonknight.dev">Dragon Knight homepage</a>.
</p>

<p>
    Also, you should be aware that certain portions of the DK code are dependent on the formatting of certain database results (for example, 
    the special attributes on item drops). While I have attempted to point these out throughout the admin script, you should definitely pay 
    attention and be careful when editing some fields, because mistakes in the database content may result in script errors or your game breaking 
    completely.
</p>