<p>
    These options control several major settings for the overall game engine.
</p>

<p class="my-8">
    If you want to know what each setting does, <a href="admin.php?do=manual&panel=main">click here</a>.
</p>

<form action="admin.php?do=main" method="post" style="width: 50%;">
    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="gameopen" class="highlight">Game Open</label>
        </div>
        <div class="w-full">
            <select id="gameopen" name="gameopen">
                <option value="1" {{ open1select }}>Open</option>
                <option value="0" {{ open0select }}>Closed</option>
            </select>
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;">
            <label for="gamename">Game Name</label>
        </div>
        <div class="w-full">
            <input id="gamename" type="text" name="gamename" value="{{ gamename }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="gameurl">Game URL</label>
        </div>
        <div class="w-full">
            <input id="gameurl" type="text" name="gameurl" value="{{ gameurl }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;">
            <label for="adminemail">Admin Email</label>
        </div>
        <div class="w-full">
            <input id="adminemail" type="email" name="adminemail" value="{{ adminemail }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="gamesize">Map Size</label>
        </div>
        <div class="w-full">
            <input id="gamesize" type="number" name="gamesize" value="{{ gamesize }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="forumtype">Forum Type</label>
        </div>
        <div class="w-full">
            <select id="forumtype" name="forumtype">
                <option value="0" {{ selecttype0 }}>Disabled</option>
                <option value="1" {{ selecttype1 }}>Internal</option>
                <option value="2" {{ selecttype2 }}>External</option>
            </select>
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="forumaddress">External Forum</label>
        </div>
        <div class="w-full">
            <input id="forumaddress" type="text" name="forumaddress" value="{{ forumaddress }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="verifyemail">Email Verification</label>
        </div>
        <div class="w-full">
            <select id="verifyemail" name="verifyemail">
                <option value="0" {{ selectverify0 }}>Disabled</option>
                <option value="1" {{ selectverify1 }}>Enabled</option>
            </select>
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="shownews">Show News</label>
        </div>
        <div class="w-full">
            <select id="shownews" name="shownews">
                <option value="0" {{ selectnews0 }}>No</option>
                <option value="1" {{ selectnews1 }}>Yes</option>
            </select>
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="showonline">Show Who's Online</label>
        </div>
        <div class="w-full">
            <select id="showonline" name="showonline">
                <option value="0" {{ selectonline0 }}>No</option>
                <option value="1" {{ selectonline1 }}>Yes</option>
            </select>
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="showbabble">Show Babblebox</label>
        </div>
        <div class="w-full">
            <select id="showbabble" name="showbabble">
                <option value="0" {{ selectbabble0 }}>No</option>
                <option value="1" {{ selectbabble1 }}>Yes</option>
            </select>
        </div>
    </div>

    <h3 class="mb-2 mt-8 title">Classes</h3>
    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="class1name">Class 1 Name</label>
        </div>
        <div class="w-full">
            <input id="class1name" type="text" name="class1name" value="{{ class1name }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="class2name">Class 2 Name</label>
        </div>
        <div class="w-full">
            <input id="class2name" type="text" name="class2name" value="{{ class2name }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="class3name">Class 3 Name</label>
        </div>
        <div class="w-full">
            <input id="class3name" type="text" name="class3name" value="{{ class3name }}" class="text-input w-full">
        </div>
    </div>

    <h3 class="mb-2 mt-8 title">Difficulties</h3>
    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="diff1name">Diff 1 Name</label>
        </div>
        <div class="w-full">
            <input id="diff1name" type="text" name="diff1name" value="{{ diff1name }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="diff2name">Diff 2 Name</label>
        </div>
        <div class="w-full">
            <input id="diff2name" type="text" name="diff2name" value="{{ diff2name }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="diff2mod">Diff 2 Mod</label>
        </div>
        <div class="w-full">
            <input id="diff2mod" type="text" name="diff2mod" value="{{ diff2mod }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="diff3name">Diff 3 Name</label>
        </div>
        <div class="w-full">
            <input id="diff3name" type="text" name="diff3name" value="{{ diff3name }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="diff3mod">Diff 3 Mod</label>
        </div>
        <div class="w-full">
            <input id="diff3mod" type="text" name="diff3mod" value="{{ diff3mod }}" class="text-input w-full">
        </div>
    </div>

    <div style="margin-top: 4rem;">
        <button type="submit" name="submit" class="button">Save</button>
        <button type="reset" class="button">Reset</button>
    </div>
</form>