<p>
    These options control several major settings for the overall game engine.
</p>

<p class="my-8">
    If you want to know what each setting does, <a href="admin.php?do=manual&panel=main">click here</a>.
</p>

<form action="admin.php?do=main" method="post" style="width: 50%;">
    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="game_open" class="highlight">Game Open</label>
        </div>
        <div class="w-full">
            <select id="game_open" name="game_open">
                <option value="1" {{ open1select }}>Open</option>
                <option value="0" {{ open0select }}>Closed</option>
            </select>
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;">
            <label for="game_name">Game Name</label>
        </div>
        <div class="w-full">
            <input id="game_name" type="text" name="game_name" value="{{ game_name }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="game_url">Game URL</label>
        </div>
        <div class="w-full">
            <input id="game_url" type="text" name="game_url" value="{{ game_url }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex items-center mb-4">
        <div style="width: 30%;">
            <label for="admin_email">Admin Email</label>
        </div>
        <div class="w-full">
            <input id="admin_email" type="email" name="admin_email" value="{{ admin_email }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="game_size">Map Size</label>
        </div>
        <div class="w-full">
            <input id="game_size" type="number" name="game_size" value="{{ game_size }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="forum_type">Forum Type</label>
        </div>
        <div class="w-full">
            <select id="forum_type" name="forum_type">
                <option value="0" {{ selecttype0 }}>Disabled</option>
                <option value="1" {{ selecttype1 }}>Internal</option>
                <option value="2" {{ selecttype2 }}>External</option>
            </select>
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="forum_address">External Forum</label>
        </div>
        <div class="w-full">
            <input id="forum_address" type="text" name="forum_address" value="{{ forum_address }}" class="text-input w-full">
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="verify_email">Email Verification</label>
        </div>
        <div class="w-full">
            <select id="verify_email" name="verify_email">
                <option value="0" {{ selectverify0 }}>Disabled</option>
                <option value="1" {{ selectverify1 }}>Enabled</option>
            </select>
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="show_news">Show News</label>
        </div>
        <div class="w-full">
            <select id="show_news" name="show_news">
                <option value="0" {{ selectnews0 }}>No</option>
                <option value="1" {{ selectnews1 }}>Yes</option>
            </select>
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="show_online">Show Who's Online</label>
        </div>
        <div class="w-full">
            <select id="show_online" name="show_online">
                <option value="0" {{ selectonline0 }}>No</option>
                <option value="1" {{ selectonline1 }}>Yes</option>
            </select>
        </div>
    </div>

    <div class="form-group flex mb-4 items-center">
        <div style="width: 30%;">
            <label for="show_babble">Show Babblebox</label>
        </div>
        <div class="w-full">
            <select id="show_babble" name="show_babble">
                <option value="0" {{ selectbabble0 }}>No</option>
                <option value="1" {{ selectbabble1 }}>Yes</option>
            </select>
        </div>
    </div>

    <div style="margin-top: 4rem;">
        <button type="submit" name="submit" class="button">Save</button>
        <button type="reset" class="button">Reset</button>
    </div>
</form>