<div>
    <h1 class="title my-0 swash mr-8">Make a <span class="mr-2">new</span> Thread</h1>

    <a href="forum.php" class="my-4 inline-block">... or head back.</a>

    <form action="forum.php?do=new" method="post" class="w-full">
        <input id="title" type="text" name="title" class="text-input mb-4 w-1/4" required placeholder="New thread title">
        
        <textarea name="content" class="w-full resize-vertical px-4 py-2 mb-4 text-input" required placeholder="Talk about your topic here!"></textarea>
        
        <button type="submit" name="submit" class="button">Submit</button>
        <button type="reset" class="button">Reset</button>
    </form>
</div>