<tr>
    <td class="w-full py-4" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);"><a href="forum.php?do=thread&id={{ id }}">{{ title }}</a></td>
    <td class="text-center no-wrap px-4 align-middle" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">{{ author }}</td>
    <td class="text-center px-4 align-middle" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">{{ replies }}</td>
    <td class="no-wrap px-4 align-middle" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">{{ date }}</td>
</tr>